<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <title>Data Center Portal da Zeladoria</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</head>
<body>

    <h2>Data Viewer - Portal da Zeladoria</h2>
    <h3>Gere o gráfico em umclique nos botões abaixo</h3>
    <h4>Clique no botão para gerar o gráfico e f5 para limpar o campo se quiser gerar outro</h4>

    <div class="button-group">
        <button onclick="gerarGraficoBairros()">Bairros</button>
        <button onclick="gerarGraficoResponsaveis()">Responsáveis</button>
        <button onclick="gerarGraficoDatas()">Datas</button>
    </div>

    
    <div class="chart-container" id="graficoBairrosContainer">
        <canvas id="graficoBairros"></canvas>
    </div>

    <div class="chart-container" id="graficoResponsaveisContainer">
        <canvas id="graficoResponsaveis"></canvas>
    </div>

    <div class="chart-container" id="graficoDatasContainer">
        <canvas id="graficoDatas"></canvas>
    </div>

    <script>
        
        function gerarGraficoBairros() {
            var ctx = document.getElementById('graficoBairros').getContext('2d');
            var graficoBairros = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Gonzaguinha', 'Beira Mar', 'Boa Vista', 'Gleba', 'Quarentenário', 'Parque das Bandeiras', 'Humaitá'], // Substituir com dados reais
                    datasets: [{
                        label: 'Bairros',
                        data: [10, 5, 8, 7, 2, 3, 4],
                        backgroundColor: ['#FF5733', '#FF8D1A', '#FFD700', '#1E90FF', '#32CD32', '#8A2BE2', '#FF1493'],
                        borderColor: '#D3D3D3',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });
        }

        
        function gerarGraficoResponsaveis() {
            var ctx = document.getElementById('graficoResponsaveis').getContext('2d');
            var graficoResponsaveis = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['José', 'João', 'Apolonio', 'Manoel', 'José Carlos'], 
                    datasets: [{
                        label: 'Responsáveis',
                        data: [5, 8, 3, 2, 7], 
                        backgroundColor: ['#FF6347', '#FF4500', '#ADFF2F', '#FFD700', '#1E90FF'],
                        borderColor: '#D3D3D3',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });
        }

        
        function gerarGraficoDatas() {
            var ctx = document.getElementById('graficoDatas').getContext('2d');
            var graficoDatas = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['2024-01-01', '2024-02-01', '2024-03-01'], 
                    datasets: [{
                        label: 'Datas',
                        data: [15, 10, 5], 
                        backgroundColor: ['#32CD32', '#FFD700', '#1E90FF'],
                        borderColor: '#D3D3D3',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });
        }
    </script>

</body>
</html>
